<link rel="stylesheet" href="./css/style.css">


<article>
    <div class="parent row m-b m-t">
        <div class="child image">
            <figure class="">
                <h2>The Value of Money</h2>
                <div class="figure-container">
                    <img src="./img/money.jpg" alt="" class="figure-img">
                    <figurecaption>A picture of money</figurecaption>
                </div>
            </figure>
        </div>

        <p class="child m-b">
            The time value of money is the greater benefit of receiving money now rather than later. It is founded on time preference. The principle of the time value of money explains why interest is paid or earned: Interest, whether it is on a bank deposit or debt, compensates the depositor or lender for the time value of money. It also underlies investment. Investors are willing to forgo spending their money now if they expect a favorable return on their investment in the future.
        </p>
    </div>
    
</article>




<div class="parent row m-b">
    <div class="child image">
        <figure>
            <h2>GMO food</h2>
            <div class="figure-container">
                <img src="./img/plum.jpg" alt="" class="figure-img">
                <figurecaption>"Plums genetically engineered for resistance to plum pox, a disease carried by aphids."</figurecaption>
            </div>
        </figure>
    </div>

    <p class="child content">
        Genetically modified foods or GM foods, also known as genetically engineered foods, bioengineered foods, genetically modified organisms, or GMOs, are foods produced from organisms that have had changes introduced into their DNA using the methods of genetic engineering. Genetic engineering techniques allow for the introduction of new traits as well as greater control over traits than previous methods such as selective breeding and mutation breeding.
    </p>
</div>




<div class="parent row">
    <div class="child image clearfix">
        <figure>
            <h2>The Year 2100</h2>
            <div class="figure-container">
                <img src="./img/clock.jpg" alt="" class="figure-img">
                <figurecaption>A picture of a clock</figurecaption>
            </div>
        </figure>
    </div>

    <p class="child content">
        The 22nd century will be a century of the Anno Domini or Common Era in accordance with the Gregorian calendar. It will be the century following the current 21st century, beginning on January 1, 2101 and ending on December 31, 2200.
    </p>
</div>
