<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./css/lightbox.min.css">



<div class="portfolio">

    <h2 class="m-b">Portfolio</h2>
    <div class="card">
        <a href="./img/mockup-1.png" data-lightbox="portfolio" data-title="">
        <img src="./img/mockup-1.png" alt="" class="img-fluid"></a>
        <div class="card-container">
            <h3>Landscaping Website Mockup | March 2018</h3>
            <p>
                This mockup was made for a ficitonal landscaping company for an exercise for our UX Design course.!</p>
        </div>

    </div>

    <div class="card">
        <a href="./img/mockup-2.png" data-lightbox="portfolio" data-title="" class="center">
        <img src="./img/mockup-2.png" alt="" class="img-fluid"></a>
        <div class="card-container">
            <h3>Mobile Phone Company Mockup | April 2018</h3>
            <p>
                A website landing page was to be created for a company of our choosing for our UX Design assignment. The approach we took with this webpage was simplistic, with a focal point on custom phones.</p>
        </div>

    </div>

    <div class="card">
        <a href="./img/mockup-3.jpg" data-lightbox="portfolio" data-title="">
        <img src="./img/mockup-3.jpg" alt="" class="img-fluid"></a>
        <div class="card-container">
            <h3>Desktop Coffeeshop Website Mockup | March 2018</h3>
            <p>An assignment in Graphics Applicaitons called for a Desktop and Mobile version of an Environmentally Friendly Coffeeshop. These are the final versions of the website.</p>
        </div>

    </div>

    <div class="card">
        <a href="./img/rim-lighting.jpg" data-lightbox="portfolio" data-title="">
        <img src="./img/rim-lighting.jpg" alt="" class="img-fluid"></a>
        <div class="card-container">
            <h3>Lighting Techniques Hybrid | April 2018</h3>
            <p>Using in stuido lighting, different techniques were researched to achieve new way of capturing portraits.</p>
        </div>

    </div>
    
    
        <div class="card">
        <a href="./img/split-lighting.jpg" data-lightbox="portfolio" data-title="">
        <img src="./img/split-lighting.jpg" alt="" class="img-fluid"></a>
        <div class="card-container">
            <h3>Lighting Techniques Hybrid | April 2018</h3>
            <p>Using in stuido lighting, different techniques were researched to achieve new way of capturing portraits.</p>
        </div>

    </div>
    
        <div class="card">
        <a href="../img/HYBRIDCAR-1.jpg" data-lightbox="portfolio" data-title="">
        <img src="../img/HYBRIDCAR-1.jpg" alt="" class="img-fluid"></a>
        <div class="card-container">
            <h3>Typographical Poster | March 2018</h3>
            <p>Using only characters, manipulating letters, numbers and some symbols, a typographical poster was ot be created, conveying a topic. This topic is Hybrid Car.</p>
        </div>

    </div>


</div>
